<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<param name="target" value="System.out" />
		<encoder>
			<pattern>
				<!--%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}.%M\(%line\) - %msg%n-->
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %class{0}.%M\(L%line\) - %msg%n
			</pattern>
		</encoder>
	</appender>


	<logger name="io.github.agentsoz" level="info" />

	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>