<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Emergency Evacuation Simulator
  %%
  Copyright (C) 2014 - 2022 by its authors. See AUTHORS file.
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Lesser Public License for more details.
  
  You should have received a copy of the GNU General Lesser Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/lgpl-3.0.html>.
  #L%
  -->


<!-- This config file is used by MATSim only. It exists here so that we can
     overwrite the log4j.xml config that ships with the MATSim jar and
     that clutters the EES logging (which in turn is configured using logback.xml).
     To change the MATSim logging level adjust settings below where indicated.
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-mm-dd HH:mm:ss} [%.10t] %5p %C{1}.java:%L %m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
		  <param name="LevelMin" value="trace" />
		  <param name="LevelMax" value="info" />
		</filter>
	</appender>
	<appender name="stderr" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-mm-dd HH:mm:ss} [%.10t] %5p %C{1}.java:%L %m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
		  <param name="LevelMin" value="warn" />
		  <param name="LevelMax" value="fatal" />
		</filter>
	</appender>

	<logger name="org.matsim.core.mobsim.qsim.QSim">
		<level value="info"/> <!-- Adjust if needed -->
	</logger>
	<logger name="org.matsim.core.mobsim.qsim.qnetsimengine.QNetsimEngine">
		<level value="info"/> <!-- Adjust if needed -->
	</logger>
	<logger name="org.matsim.withinday.utils.EditTrips">
		<level value="error"/> <!-- Adjust if needed -->
	</logger>
	<logger name="org.matsim.core.scoring">
		<level value="error"/> <!-- Adjust if needed -->
	</logger>
	<logger name="org.matsim.core.mobsim.qsim.changeeventsengine.NetworkChangeEventsEngine">
		<level value="error"/> <!-- Adjust if needed -->
	</logger>



	<root>
		<priority value="warn"></priority> <!-- Adjust if needed -->
		<appender-ref ref="stdout"/>
		<appender-ref ref="stderr"/>
	</root>

</log4j:configuration>
