body {
 font-family: "Trebuchet MS", sans-serif;
/*  background-color: rgb(119, 213, 247); */
/*  background-color: rgb(0, 120, 174); */
/*  background-color: rgb(110, 172, 44); */
 background-color: #555;
}

#outer, #outer-start {
 background-color: white; 
 margin: 10px;
}

.container-fluid {
}

#map {
 width: 100%;
 height: 500px;
 background-color: grey;
 }
 
.main-button {
 margin-top:50px;
 padding:50px;
 font-size: x-large;
 
/*  background-color: rgb(119, 213, 247); */
/*  background-color: rgb(0, 120, 174); */
 background-color: rgb(110, 172, 44);
} 

.nav-bar {
 background-color: rgb(110, 172, 44);
 
}
.nav-button {
 margin-top: 5px;
 margin-bottom: 5px;
 padding: 5px; 
 min-width: 80px;
}

#header {
 padding: 0;
}

#footer {
 padding:50px 20px 20px 20px;
/*  background-color: #ccc; */
}

#info-overlay {
 position: absolute; 
 width: 30%; 
 left: 35%; 
 top: 250px; 
 padding: 0.5em;
 text-align: center;  
 background-color: rgb(110, 172, 44);
 display:none;
}

.progress-bar {
 line-height: 2em;
}
.progress {
 position: absolute; 
 width: 80%; 
 height: 2em;
 left: 10%; 
 top: 250px; 
 width:80%;
 padding: 0;
 margin: 0;
 text-align: center;  
 background-color: rgba(0, 0, 0, 0.1);
 display:none;
}

#destinations-list, #vehicles-list {
 margin-top: 1em;
}

.panel-title {
 margin-bottom: 0.5em;
}
.li-odd {
 background-color: rgba(119, 213, 247, 0.3);
/*  background-color: rgb(0, 120, 174); */
/*  background-color: rgb(110, 172, 44); */
}
.li-even {
 background-color: rgba(119, 213, 247, 0.1);
}
.list-group-item:hover {
 background-color: rgba(110, 172, 44, 0.5);
}

.maincolumn {
 padding:0px 15px 0 15px;
}

#evac-timeslider {
 margin-bottom: 15px;
}
#evac-timeslider label {
  font-weight: normal;
  font-size: small;
  position: absolute;
  width: 20px;
  margin-top: 15px;
  margin-left: -10px;
  text-align: center;
}
