body {
 font-family: "Trebuchet MS", sans-serif;
 /*  background-color: rgb(119, 213, 247); */
 /*  background-color: rgb(0, 120, 174); */
 /*  background-color: rgb(110, 172, 44); */
 background-color: #555;
}

#outer, #outer-start {
 background-color: white;
 margin: 10px;
}

.container-fluid {
 
}

.img-responsive {
    margin: 0 auto;
}

#banner {
 background-repeat: repeat-y;
 background-image: url("../media/banner.jpg");
 height: 150px;
}


#map {
 width: 100%;
 height: 500px;
 padding: 0;
 /*  background-color: grey; */
}

#mapinfo {
 min-height: 1.5em;
 padding: 0;
}

.main-button {
 margin-top: 50px;
 padding: 50px;
 font-size: x-large;
 /*  background-color: rgb(119, 213, 247); */
 /*  background-color: rgb(0, 120, 174); */
 background-color: rgb(110, 172, 44);
}

.nav-bar {
 background-color: rgb(110, 172, 44);
 margin-bottom: 5px;
 padding: 5px;
}

.nav-button {
 margin-top: 5px;
 margin-bottom: 5px;
 padding: 5px;
 min-width: 80px;
}

#header {
 padding: 0;
}

#footer {
 padding: 50px 20px 20px 20px;
 /*  background-color: #ccc; */
}

#info-overlay {
 position: absolute;
 width: 30%;
 left: 35%;
 top: 250px;
 padding: 0.5em;
 text-align: center;
 display: none;
}

.progress-bar {
 line-height: 2em;
}

.progress {
/*  position: absolute; */
 height: 2em;
 left: 10%;
 top: 250px;
 width: 80%;
 padding: 0;
 margin: 0;
 text-align: center;
 background-color: rgba(0, 0, 0, 0.1);
 display: none;
}

#destinations-list, #vehicles-list {
 margin-top: 1em;
}

.panel-title {
 margin-bottom: 0.5em;
}

.li-odd {
 /*  background-color: rgba(119, 213, 247, 0.3); */
 /*  background-color: rgb(0, 120, 174); */
 background-color: rgba(110, 172, 44, 0.3);
}

.li-even {
 /*  background-color: rgba(119, 213, 247, 0.1); */
 background-color: rgba(110, 172, 44, 0.1);
}

.list-group-item:hover {
 background-color: rgba(110, 172, 44, 0.5);
}

.maincolumn {
 padding: 0px 15px 0 15px;
}

#evac-timeslider {
 margin-bottom: 15px;
}

#evac-timeslider label, #max-speed-slider label {
 font-weight: normal;
 font-size: small;
 position: absolute;
 width: 20px;
 margin-top: 15px;
 margin-left: -10px;
 text-align: center;
}

.short-description {
 font-size: small;
 color: #777;
 font-style: italic;
}

#incident-description {
 font-size: small;
 background-color: rgba(110, 172, 44, 0.2);
 /*  font-style: italic; */
 padding: 1em;
 display: none;
}

.btn-primary {
 background-color: rgba(110, 172, 44, 1.0);
 border-color: rgba(110, 172, 44, 1.0);
 color: white;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
 background-color: rgba(110, 172, 44, 1.0);
 border-color: rgba(110, 172, 44, 1.0);
 color: black;
}

.ui-slider {
 margin-bottom: 25px;
}

ul.ui-autocomplete {
 z-index: 1100;
}

.mt-1dot5 {
 margin-top: 1.5em;
}

.mt-1 {
 margin-top: 1em;
}

.draw-area-step-1, .draw-line-step-1 {
 display: none;
}

.action-icon {
 color: #aaa;
 font-size: x-large;
 text-align: center;
}

.action-icon:hover {
 color: #555;
}

#plus-vehicles, #plus-safelines {
 display: none;
}