body, pre {
 font-size: 10px; 
}

.panel-collapse {
 display: block !important;
 height: auto !important;
}

h1, h2, h3, h4 {
 font-weight: bolder;
 margin-bottom: 1em;
}

.panel-primary, .panel-body, .panel-heading {
 padding-left: 0;
 border: 0;
}

.panel-title {
 margin-top: 1em;
 margin-bottom: 0;
 font-size: larger;
 color: inherit;
}

h1 {
 font-size: x-large;
}

[class*="col-sm-6"] {
 float: left;
 width: 50%;
}