#map {
 width: 100%;
 height: 500px;
 background-color: grey;
}

#banner {
 background-repeat: repeat-y;
 background-image: url("../media/banner.jpg");
 height: 150px;
}

.img-responsive {
    margin: 0 auto;
}

.control-bar {
 margin: 20px 0 20px 0;
}

.main-button {
 width: 100%;
 /*  margin: 0px 0 20px 0; */
 padding: 20px;
 font-size: large;
 /*  background-color: rgb(119, 213, 247); */
 /*  background-color: rgb(0, 120, 174); */
 background-color: rgb(110, 172, 44);
}

.short-description {
 font-size: small;
 color: #777;
 font-style: italic;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
